<!doctype html>
<html>
<head>
  <title>DynaSearch 🧨</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <div class="page">
    <div class="navigation">
      <nav>
        <h1><a id="nav-logo" href="/">DynaSearch 🧨</a></h1>
        <a id="nav-weather" href="/weather"> Weather forecast </a>
        <% if current_user %>
          <a id="nav-logout" href="/api/logout">Log out [<%= current_user['username'] %>]</a>
        <% else %>
          <a id="nav-login" href="/login">Log in</a>
          <a id="nav-register" href="/register">Register</a>
        <% end %>
      </nav>
    </div>
    
    <% if flash[:notice] %>
      <ul class="flashes">
        <li><%= flash[:notice] %></li>
      </ul>
    <% end %>

    <div class="body">
      <%= yield %>
    </div>
    
    <div class="footer">
      <span>DynaSearch 🧨 &copy; 2025</span>
      <a href="/about">About</a>
    </div>
  </div>
</body>
</html>
