<h2>Reset Your Password</h2>

<% if flash[:error] %>
  <div class="alert alert-danger"><%= flash[:error] %></div>
<% end %>

<form action="/reset_password" method="post">
  <input type="hidden" name="token" value="<%= params[:token] %>" />
  <label for="password">New Password:</label>
  <input type="password" name="password" required />
  <button type="submit">Reset Password</button>
</form>